@page "/"

<h1>JsInterop Demo</h1>

<p>The button has been clicked @Counter times.</p>
<button @onclick="HandleClick">Click me</button>

@code {

    private int Counter = 0;

    private void HandleClick()
    {
        Counter++;
    }
}